{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="header header-container">
    <div class="row">
    <div class="col">
    </div>
    </div>
    </div>
{% endblock %}

{% block content %}
<!-- <video id="videoBG" autoplay muted loop>
<source src="{% static 'media/bounce.mp4' %}" type="video/mp4">
</video> -->
<!-- <div class="">
    <div class="container h-50 page-section">
        <div class="row w-100">
            <div class="col-12 col-md-6">
                <h1 class="display-3 text-uppercase">
                    Zero 
                    <br>
                    Fuzz
                    <br>
                    Given. 
                </h1>
                <p>
                    <a href="" class="link-font-style">Book your treatment with us today</a>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container header-inner">
    <div class="heade-description">
        <h2>Relaxing, Purifying, Facial</h2>
            <div class="description-price">£9.99</div>
            <div class="add-to-basket-btn"></div>
    </div>
</div> -->


{% endblock %}