{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="header"></div>
{% endblock %}

{% block content %}
<div class="container h-70">
    <div class="row w-100">
        <div class="col-12 col-md-6">
            <h1 class="display-3 text-uppercase">
                Be badass 
                <br>
                with a good 
                <br>
                ass.
            </h1>
            <p>
                <a href="" class="subheading-styling text-uppercase">Book your treatment with us today</a>
            </p>
        </div>
    </div>
</div>

{% endblock %}