html{
    height: 100%;
}

body{
    font-family: 'Roboto', sans-serif;
}

/* https://css-tricks.com/snippets/css/text-rotation/ */
.rotate {
  transform: rotate(-90deg);
  /* Legacy vendor prefixes that you probably don't need... */
  /* Safari */
  -webkit-transform: rotate(-90deg);
  /* Firefox */
  -moz-transform: rotate(-90deg);
  /* IE */
  -ms-transform: rotate(-90deg);
  /* Opera */
  -o-transform: rotate(-90deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.rotate{
  /* positioning */
  display: inline-block;
  float: right;
  right: 0;
} 

.logo .rotate{
  display: inline-block;
  float: left;
  cursor: pointer;
  margin-top: 5rem;
  font-family: 'Pacifico', cursive;
  font-size: x-large;
  color: #000;
}

.wrapper li{
    text-align: right;
    list-style-type: none;
    cursor: pointer;
    line-height: 2rem;
}

.shopping-bag{
 padding-top: 20px;
}

.subheading-styling{
    text-decoration: underline;
    font-family: 'Bebas Neue', cursive;
    text-transform: uppercase;
    font-size: x-large;
    color: #000;
}

.subheading-position{
    line-height: 0px;
}

.fixed-top{
    margin-top: 2rem;
}

ul.rotate.subheading-styling {
    margin-right: 4rem;
}